.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $black;
    font-size: 12px;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $black;
        box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px;
        filter: brightness(1.25);
        transition: box-shadow 300ms ease 0s, filter 300ms ease 0s;
    }
}

.btn-secondary {
    background-color: $secondary;
    border-color: $white;
    color: $white;
    font-size: 12px;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus {
        background-color: $secondary;
        border-color: $white;
        color: $white;
        box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px;
        filter: brightness(1.25);
        transition: box-shadow 300ms ease 0s, filter 300ms ease 0s;
    }
}

.btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: $white;
    font-size: 12px;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus {
        background-color: $danger;
        border-color: $danger;
        color: $white;
        box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px;
        filter: brightness(1.25);
        transition: box-shadow 300ms ease 0s, filter 300ms ease 0s;
    }
}