.form-control {
    border-radius: 0;
    background: rgb(44, 44, 50);
    color: $white;

    &:focus {
        color: $white;
        background: rgb(44, 44, 50);
        filter: brightness(1.3)
    }
}