html,
body {
    height: 100%;
    margin: 0;
}

body {
    @extend .lato-regular;
    background: $background;
    color: $white;
}

main {
    padding: 85px 10px 60px 10px;
    min-height: calc(100vh - 70px);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(64, 64, 68);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(38, 38, 42);
}