$primary: rgb(245, 179, 36);
$secondary: rgb(23, 23, 26);
$danger: rgb(219, 25, 43);

$background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgb(38, 38, 42);

$black-70: rgb(38, 38, 42);
$black-50: rgb(44, 44, 50);
