header {
    .navbar__lc {
        position: fixed;
        width: 100%;
        height: 70px;
        padding: 10px 20px;
        background-color: $black-70;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__logo {
            height: 40px;
            width: auto;
        }
    }
}